include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		//- .preloader.js-preloader 
		//- 	.preloader-wrap
		//- 		#top.mask
		//- 			.plane
		//- 		#middle.mask
		//- 			.plane
		//- 		#bottom.mask
		//- 			.plane
		.main
			include ../common/header
			include ../common/home
		include ../common/footer
		include ../common/modal
	// END body