include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body.thanks-page
		.main
			include ../common/header
			include ../common/thanks-part
		include ../common/footer
		include ../common/modal
	// END body