.consult {
    background: #f9fbfc;
    padding: 105px 0 190px;

    @media screen and (max-width: 1115px) {
        padding: 40px 0;
    }
    &__body {
        display: flex;
        @media screen and (max-width: 579px) {
            flex-wrap: wrap;
        }
    }
    &__form {
        width: 60%;
        @media screen and (max-width: 579px) {
            width: 100%;
        }
    }
    &__title {
        font-size: 35px;
        line-height: 45px;
        color: $accent;
        font-weight: 700;
        margin-bottom: 20px;
        @media screen and (max-width: 1115px) {
            font-size: 33px;
            line-height: 1.2;
        }
        @media screen and (max-width: 680px) {
            font-size: 24px;
        }
    }
    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #405646;
        max-width: 495px;
        margin-bottom: 87px;
        @media screen and (max-width: 1115px) {
            margin-bottom: 45px;
        }
        @media screen and (max-width: 680px) {
            font-size: 13px;
            line-height: 1.2;
        }
    }
    &__pic {
        width: 52%;
        position: relative;
        @media screen and (max-width: 1528px) {
            width: 44%;
        }
        
        @media screen and (max-width: 1115px) {
            width: 35%;
        }
        @media screen and (max-width: 579px) {
            width: 100%;
            margin-top: 20px;
            padding-top: 20px;
        }
        &-wrap {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 27%;
            z-index: 1;
            @media screen and (max-width: 1528px) {
                left: -6%;
            }
            @media screen and (max-width: 1115px) {
                left: 6%;
            }
            @media screen and (max-width: 579px) {
               position: static;
            }
        }
        img {
            max-width: 100%;
        }
    }
}
.form-line {
    margin-bottom: 60px;
    @media screen and (max-width: 890px) {
        margin-bottom: 40px;
    }
}
.form-line-wrap {
    display: flex;
    align-items: center;
    @media screen and (max-width: 890px) {
        flex-wrap: wrap;
    }
    @media only screen and (max-width: 479px) {
        justify-content: center;
    }
}
.agree-line {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    max-width: 200px;
    margin-left: 50px;
    @media screen and (max-width: 890px) {
        display: block;
        width: 100%;
        max-width: 350px;
        margin-left: 0;
        margin-top: 20px;
    }
    span {
        color: $accent;
    }
    input {
        display: none;
        &:checked+label:before {
            background: $accent;
        }
        &:checked+label:after {
            content: "";
            position: absolute;
            left: 2px;
            width: 12px;
            height: 6px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            top: 46%;
            -webkit-transform: translate(0,-50%) rotate(-45deg);
            -ms-transform: translate(0,-50%) rotate(-45deg);
            transform: translate(0,-50%) rotate(-45deg);
        }
    }
    label {
        position: relative;
        display: block;
        padding-left: 27px;
        @media screen and (max-width: 580px) {
            text-align: left;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            width: 18px;
            height: 18px;
            border: none;
            background: #fff;
        }
    }
        
}
input.empty_field {
    border: 1px solid red;
}