nav {
    a {
        color: #222532;
        @media screen and (max-width: 749px){
            color: #090f21;
        }
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
	@media screen and (max-width: 1400px){
        padding-top: 33px;
    }
    @media only screen and (max-width: 1299px) and (orientation: portrait),
    screen and (max-width: 1200px) {
        padding-top: 43px;
    }
    @media screen and (max-width: 749px){
        padding-top: 30px;
    }
}
.header {
    display: flex;
    padding: 0 12px;
    letter-spacing: 1px;
	@media screen and (max-width: 1400px){
        padding: 0 11px 0 6px;
    }
    @media only screen and (max-width: 1299px) and (orientation: portrait),
    screen and (max-width: 1200px) {
        padding: 0;
    }
    @media screen and (max-width: 749px){
        display: block;
        text-align: center;
    }
    &__block {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1299px) and (orientation: portrait),
        screen and (max-width: 1200px) {
            display: block;
        }
        @media screen and (max-width: 749px){
            margin-bottom: 32px;
        }
    }
    &__contact {
        display: flex;
        align-items: center;
        margin-left: auto;
        @media only screen and (max-width: 1299px) and (orientation: portrait),
        screen and (max-width: 1200px) {
            display: block;
        }
        @media screen and (max-width: 749px){
            padding: 0 10px;
        }
    }
    &__btn {
        min-width: 255px;
        color: #fff;
        background: #888797;
        font-size: 15px;
        padding: 17px 10px;
        text-align: center;
        border-radius: 5px;
        &:hover {
            opacity: 0.8;
        }
    }
    &__text {
        max-width: 264px;
        padding: 0 24px;
        font-size: 15px;
        line-height: 20px;
        color: #4b5255;
	    @media screen and (max-width: 1400px){
            padding: 0px 26px;
            margin-bottom: 5px;
        }
        @media only screen and (max-width: 1299px) and (orientation: portrait),
        screen and (max-width: 1200px) {
            padding-left: 0;
        }
        @media screen and (max-width: 749px){
            max-width: 100%;
            padding-right: 0;
        }
    }
    &__phone {
        margin-left: auto;
        margin-right: 32px;
        font-size: 24px;
        font-weight: 500;
	    @media screen and (max-width: 1400px){
            margin-right: 18px;
        }
        @media only screen and (max-width: 1299px) and (orientation: portrait),
        screen and (max-width: 1200px) {
            margin-right: 0;
            margin-bottom: 17px;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
}
.logo {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
	@media screen and (max-width: 1400px){
        letter-spacing: 0.5px;
    }
    @media only screen and (max-width: 1299px) and (orientation: portrait),
    screen and (max-width: 1200px) {
        padding: 6px 0 12px;
    }
    @media screen and (max-width: 749px){
    }
    &:hover {
        opacity: 0.8;
    }
}

.mob {
    display: none;
    @media only screen and (max-width:  749px){
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        width: 35px;
        height: 35px;
        top: 0;
        right: -4px;
    }
    &-phone {
        @media only screen and (max-width:  749px){
            display: flex;
        }
    }
}

.menu-wrap {
    flex-grow: 1;
}
.menu-toggle {
    display: none;
}
.cross {
    display: none;
}
.main-menu {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

