.thanks-page {
    background-image: url('../img/main-bg-320.jpg');
    .main {
		background-image: url('../img/main-bg-320.jpg');
    }
}
.thanks {
    margin: auto;
    .modal__body {
        background: transparent;
    }
    &__return {
        display: block;
        margin-top: 40px;
        text-align: center;
        &:hover {
            opacity: 0.8;
        }
    }
}