// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: orange;
$text: #7c7d7f;;
$light-peach: rgba(248, 182, 116, 0.5);
