section.consult#consult
    .wrap
        .consult__body
            .consult__form
                form(action="")
                    input.utm_source.hidden(type='hidden', name='utm_source')
                    input.utm_medium.hidden(type='hidden', name='utm_medium')
                    input.utm_campaign.hidden(type='hidden', name='utm_campaign')
                    input.utm_term.hidden(type='hidden', name='utm_term')
                    input.utm_content.hidden(type='hidden', name='utm_content')
                    input(type='hidden', name='info', value='Приватна консультація')
                    .consult__title Не розумієте, який саме<span class="desctop-br"><br></span> формат співпраці з нами принесе<span class="desctop-br"><br></span> вам максимум результату? 
                    .consult__subtitle Залиште заявку прямо зараз та  отримайте безкоштовну приватну консультацію по телефону!
                    .form.step-slide__form
                        .form-line 
                            label
                                input(type="text" placeholder="Ім'я" name="name2" required).rfield.name-icon
                            label
                                input(type="text" placeholder="Телефон" name="phone" required).rfield.phone-mask
                        .form-line-wrap
                            button.btn.btn-finish(type="submit")
                                a(href="#modalFinish").quiz__btn Подати заявку
                            .agree-line
                                input#modal__agree(type='checkbox', checked='', disabled='')
                                label(for='#modal__agree') Я даю згоду на обробку 
                                    span персональних даних
            .consult__pic
                .consult__pic-wrap
                    img(src="img/contacts-foto.jpg", alt="contacts-foto")
