footer.footer
    .wrap
        .footer__logo Единый Кредитный Центр 
        .rights Copyright © 2020
        a(href="#modalLic").modal-open.footer__lic Лицензии
        a(href="policy.html").footer__policy Политика конфиденциальности

script(src="js/scripts.min.js")
script(src="js/custom.js")
