head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	<link rel="icon" href="img/favicon/favicon.ico">
	//- <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	//- meta(name="keywords" content="#Деньги под залог любого транспорта по всей РФ")
	meta(name="description" content="Деньги под залог любого транспорта по всей РФ")
	//- meta(name="author" lang="ru" content="Helen Portna")
	<meta property="og:image" content="https://lia5.github.io/2021-01-kredit/myapp/img/favicon/favicon.ico" />
	//- link(rel="shortcut icon" href="img/favicon.png")

	link(rel="stylesheet" href="css/main.min.css")

	title Единый Кредитный Центр | Деньги под залог любого транспорта по всей РФ