header
	.wrap
		.header
			.header__block
				.logo Единый Кредитный Центр 
				.header__text Деньги под залог любого транспорта по всей РФ
			.header__contact
				//- .header__phone
				//- 	a(href="tel:+72280000000") +7(228)000-00-00
				a(href="#modalSupport").header__btn.modal-open Бесплатная консультация

